.btn {
  padding: 9px 21px;
  outline: 0;
  font-family: 'Nunito';
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px rgba(47, 85, 212, 0.3);
  
  // &--primary {
  //   color: $primary-color;
  //   background-color: $primary-bg-color;
  //   border: 1px solid $primary-border-color;
  //   transition: all 0.25s ease-in-out;
  
  //   &:hover {
  //     background-color: $primary-border-color;
  //     cursor: pointer;
  //   }

  //   &[disable] {
  //     cursor: not-allowed;
  //     border-color: lighten($primary-border-color, 15%);
  //     background-color: lighten($primary-bg-color, 15%);
  //   }

  // }
}
@each $name, $colors in $button-colors {
  .btn--#{$name} {
    color: map-get($colors, 'color');
    background-color: map-get($colors, 'bg-color');
    border: 1px solid map-get($colors, 'border-color');
    transition: all 0.25s ease-in-out;
  
    &:hover {
      background-color: map-get($colors, 'border-color');
      color: map-get($colors, 'color-hover');
      cursor: pointer;
    }

    &[disable] {
      cursor: not-allowed;
      border-color: lighten(map-get($colors, 'border-color'), 15%);
      @if $name == 'default' {
        background-color: #cdcdcd;
      } @else {
        background-color: lighten(map-get($colors, 'bg-color'), 15%);
      }
    }
  }
}
